body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;

    background-color: #f5ecc2;
}
.deadpets-page {
    background-color: #b6bfc1
header {
    background-color: #064f6e;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f99d1b;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}
