<link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Website</title>

    <link rel="stylesheet" href="style.css">
</head>
body {
    background-color: lightblue;
    font-family: Arial;
}

h1 {
    color: darkblue;
}

p {
    font-size: 20px;
}
